<% if logged_in? %>
  <section class="welcome-message">
    <h2>Welcome back, <%= current_user['first_name'] %>!</h2>
  </section>
<% end %>
<section class=search-bar>
  <form action="/recipes/search_results" class="search">
    <input type="text" name="query" value="Search for a cocktail recipe...">
  </form>
</section>
<main>
  <section class="top-recipes">
    <h1>Top Recipes</h1>
  </section>
  <section class="all-recipes">
    <% recipes.each do |recipe| %>
      <% if recipe %>
        <section class="recipe">
          <div class="recipe-info">
            <div class="recipe-thumbnail">
              <img src="<%= recipe['image_url'] %>" alt="">
            </div>
            <div class="author-details">
              <p class="author"><span>Posted by: </span> User</p>
              <p class="date-posted"><span>Date posted:</span> December 13, 2022</p>
            </div>
            <% if logged_in? %>
              <div class="recipe-controls">
                <a href="/recipes/<%= recipe['id'] %>/edit" class="edit-btn">Edit</a>
                <form action="/recipes/<%= recipe['id'] %>" method="POST">
                  <input type="hidden" name="_method" value="delete">
                  <button class="delete-btn">Delete</button>
                </form>
              </div>
            <% end %>
          </div>
          <div class="recipe-details">
            <div class="recipe-heading">
              <div class="recipe-name">
                <p><%= recipe['name'] %></p>
              </div>
              <div class="likes"></div>
            </div>
            <div class="ingredients">
              <div class="ingredient-names">
                <% recipe['ingredients'].each_value do |ingredient| %>
                  <% if ingredient %>
                    <p><%= ingredient %></p>
                  <% end %>
                <% end %>              
              </div>
              <div class="ingredients-amt">
                <% recipe['ingredients_amt'].each_value do |amount| %>
                  <% if amount %>
                    <p><%= amount %></p>
                  <% end %>
                <% end %>              
              </div>
            </div>
            <div class="instructions">
              <%= recipe['instructions'] %>
            </div>
          </div>
          <section class="recipe-controls">
            <div class="like">
              <a href="#"><img src="/icons/like-icon.png" alt="like-icon"></a>
            </div>
            <div class="save">
              <a href="#"><img src="/icons/save-icon.png" alt="save-icon"></a>
            </div>
            <div class="add-to-sl">
              <a href="#"><img src="/icons/bag-icon.png" alt="bag-icon"></a>
            </div>
          </section>
        </section>
      <% end %>
    <% end %>
  </section>
</main>
<footer>
  <p class="copyright">Copyright &copy; 2022 Sakal Mon</p>
</footer>
