<% if logged_in? %>
  <section class="welcome-message">
    <h2>Welcome back, <%= current_user['first_name'] %>!</h2>
  </section>
<% end %>
<main>
  <section class="search-results">
    <h1>Search Results</h1>
  </section>

  <section class="all-recipes">
    <% recipes.each do |recipe| %>
      <% if recipe %>
        <section class="recipe">
          <div class="recipe-info">
            <div class="recipe-thumbnail">
              <img src="<%= recipe['image_url'] %>" alt="">
            </div>
            <div class="author-details">
              <p class="author"><span>Retrieved from: </span>TheCocktailDB API</p>
            </div>
            <% if logged_in? %>
              <div class="recipe-controls">
                <a href="/recipes/<%= recipe['id'] %>/edit" class="edit-btn">Edit</a>
                <form action="/recipes/<%= recipe['id'] %>" method="POST">
                  <input type="hidden" name="_method" value="delete">
                  <button class="delete-btn">Delete</button>
                </form>
              </div>
            <% end %>
          </div>

          <div class="recipe-details">
            <div class="recipe-heading">
              <div class="recipe-name">
                <p><%= recipe['name'] %></p>
              </div>
              <div class="likes"></div>
            </div>
            <div class="ingredients">
              <div class="ingredient-names">
                <% recipe['ingredients'].each_value do |ingredient| %>
                  <% if ingredient %>
                    <li><%= ingredient %></li>
                  <% end %>
                <% end %>              
              </div>

              <div class="ingredients-amt">
                <% recipe['ingredients_amt'].each_value do |amount| %>
                  <% if amount %>
                    <li><%= amount %></li>
                  <% end %>
                <% end %>              
              </div>
            </div>

            <div class="instructions">
              <%= recipe['instructions'] %>
            </div>
          </div>

          <section class="recipe-controls">
            <p>Like</p>
            <p>Save</p>
            <p>Add to shopping list</p>
          </section>
        </section>
      <% end %>
    <% end %>
  </section>
</main>
<footer>
  <p>Copyright &copy; 2022 Sakal Mon</p>
</footer>