<header>
  <section class="title-bar">
    <div class="logo">
      <img src="../logo/bartender-logo.png" alt="logo">
    </div>
    <div class="title">
      <h1>Bartender</h1>
    </div>
  </section>

  <nav>
    <div class=app-nav>
      <a href="#">Home</a>
      <a href="/recipes/new">Create Recipe</a>
      <a href="#">Saved Recipes</a>
    </div>

    <div class="user-nav">
      <% if logged_in? %>
        <form action="/sessions" method="POST">
          <input type="hidden" name="_method" value="delete">
          <button class="logout-btn">Log Out</button>
        </form>
        <a href="#">Account</a>
      <% else %>
        <a href="/sessions/new">Log In</a>
        <a href="/users/new">Sign Up</a>
      <% end %>
    </div>
  </nav>
  <% if logged_in? %>
    <h2 class="welcome-msg">Welcome back, <%= current_user['first_name'] %>!</h2>
  <% end %>
</header>
<section class=search-bar>
  <input type="text" value="Search for a cocktail recipe...">
</section>
<main>
  <section class="top-recipes">
    <h1>Top Recipes</h1>
  </section>

  <section class="all-recipes">
    <% recipes.each do |recipe| %>
      <% if recipe %>
        <section class="recipe">
          <div class="recipe-info">
            <div class="recipe-thumbnail">
              <img src="<%= recipe['image_url'] %>" alt="">
            </div>
            <div class="author-details">
              <p class="author">Posted by User</p>
              <p class="date-posted">Date posted: December 13, 2022</p>
            </div>
            <div class="recipe-controls">
              <a href="/recipes/<%= recipe['id'] %>/edit">Edit</a>
              <form action="/recipes/<%= recipe['id'] %>" method="POST">
                <input type="hidden" name="_method" value="delete">
                <button>Delete</button>
              </form>
            </div>
          </div>

          <div class="recipe-details">
            <div class="recipe-heading">
              <div class="recipe-name">
                <p><%= recipe['name'] %></p>
              </div>
              <div class="likes"></div>
            </div>
            <div class="ingredients">
              <div class="ingredient-names">
                <% recipe['ingredients'].each_value do |ingredient| %>
                  <% if ingredient %>
                    <li><%= ingredient %></li>
                  <% end %>
                <% end %>              
              </div>

              <div class="ingredients-amt">
                <% recipe['ingredients_amt'].each_value do |amount| %>
                  <% if amount %>
                    <li><%= amount %></li>
                  <% end %>
                <% end %>              
              </div>
            </div>

            <div class="instructions">
              <%= recipe['instructions'] %>
            </div>
          </div>

          <section class="recipe-controls">
            <div><p>Like</p></div>
            <div><p>Save</p></div>
            <div><p>Add to shopping list</p></div>
          </section>
        </section>
      <% end %>
    <% end %>
  </section>
</main>
<footer>
  <p>Copyright &copy; 2022 Sakal Mon</p>
</footer>
